Repository se6-njit/mywebclass-simulation-intermediate, pull requests merged in 2023-03, with the labels that each got.

#42 DevOps and Site Reliability Theme
  documentation/theme_devops_and_site_reliability /devops_and_site_reliability.md
Labels: documentation, points: 8, priority: medium

#56 Creating Theme for Product Development
  documentation/theme_product_development/product_development.md
Labels: documentation, points: 8, priority: medium

#60 Created new Initiative for Front-end Testing
  documentation/theme_product_development/initiatives/front-end_testing.md
  documentation/theme_product_development/product_development.md
Labels: documentation, points: 5, priority: medium

#62 Created new Initiative for Web Security
  documentation/theme_product_development/initiatives/web_security.md
  documentation/theme_product_development/product_development.md
Labels: documentation, points: 5, priority: medium

#66 Created new epic for Internationalization Features and Conducting SEO Research
  documentation/theme_product_development/initiatives/epics/internationalization_features_and_conducting_seo_research.md
  team_productivity_log.md
Labels: documentation, points: 5, priority: medium

#68 Created New Epic for Web Security
  documentation/theme_product_development/initiatives/epics/comprehensive_web_security.md
  team_productivity_log.md
Labels: documentation, points: 3, priority: medium

#70 Created new user story for Protected Information
  documentation/theme_product_development/initiatives/epics/comprehensive_web_security.md
  documentation/theme_product_development/initiatives/epics/user_stories/protected_information.md
  team_productivity_log.md
Labels: documentation, points: 3, priority: medium

#72 Created new user story for Search Efficiency
  documentation/theme_product_development/initiatives/epics/internationalization_features_and_conducting_seo_research.md
  documentation/theme_product_development/initiatives/epics/user_stories/search_efficiency.md
  team_productivity_log.md
Labels: documentation, points: 1, priority: low

#74 Created new user story for Automatic Testing
  documentation/theme_product_development/initiatives/epics/user_stories/automatic_testing.md
  documentation/theme_product_development/initiatives/epics/web_performance.md
  team_productivity_log.md
Labels: documentation, points: 1, priority: low

#75 Created new user story for Multilingual Feature
  documentation/theme_product_development/initiatives/epics/user_stories/multilingual_feature.md
  documentation/theme_product_development/initiatives/epics/user_stories/search_efficiency.md
  team_productivity_log.md
Labels: documentation, points: 1, priority: medium

#77 Created a new task for Encrypting and Securely Storing User's Personal Information
  documentation/theme_product_development/initiatives/epics/user_stories/protected_information.md
  documentation/theme_product_development/initiatives/epics/user_stories/tasks/encrypting_and_securely_storing_user's_personal_information.md
  team_productivity_log.md
Labels: documentation, points: 5, priority: medium

#79 Created new task for Cross-Browser Testing
  documentation/theme_product_development/initiatives/epics/user_stories/automatic_testing.md
  documentation/theme_product_development/initiatives/epics/user_stories/tasks/cross-browser_testing.md
  team_productivity_log.md
Labels: documentation, points: 2, priority: low

#81 Created new task for Implementing Language Selection Functionality
  documentation/theme_product_development/initiatives/epics/user_stories/multilingual_feature.md
  documentation/theme_product_development/initiatives/epics/user_stories/tasks/implement_language_selection.md
  team_productivity_log.md
Labels: documentation

#85 84 seo optimization with google search console
  src/index.html
  team_productivity_log.md
Labels: feature, points: 1, priority: low

#87 Added ARIA attributes
  src/content.html
  src/content2.html
  src/content3.html
  src/content4.html
  src/index.html
  src/index2.html
  src/index3.html
  src/index4.html
  src/js/main.js
  src/privacy.html
  src/story.html
  team_productivity_log.md
Labels: feature, points: 2, priority: low

#89 Adding media queries, flexible images, and fluid layouts
  src/css_styles.css
Labels: feature, points: 2, priority: medium

#92 90 implementing google translate api
  src/content.html
  src/js/googleTranslate.js
Labels: feature, points: 1, priority: low

#93 Added Currency.js
  src/js/main.js
  team_productivity_log.md
Labels: feature, points: 1, priority: low

#95 Added moment.js
  src/js/main.js
  team_productivity_log.md
Labels: feature, points: 1, priority: low

#97 Implementing Google Analytics and GDPR
  src/js/main.js
  team_productivity_log.md
Labels: feature, points: 3, priority: medium
